# Dependencies — will be re-installed inside container
node_modules

# Temp downloaded videos — not needed in image
temp/*

# Dev files
.env
*.log
npm-debug.log*

# Git
.git
.gitignore

# Editor
.vscode
*.swp
